.board-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
}

.post-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 질문 칸 */
.post-card {
    display: flex;
    margin-top: 10px;
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border: 1px solid black;
    border-radius: 20px;
    flex-direction: column;
}

/* 질문 부분 ex)Q. ~~~ */
.post-card-title {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    align-items: center;
    cursor: pointer;
}

/* 답변 부분 ex)A. ~~~ */
.post-card-answer {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
    border: 0px solid rgba(225, 228, 230, .5);
    border-top-width: 1px;
}

.post-card-none {
    display: none;
}

.question-mark {
    color: rgb(12, 77, 162);
    font-size: 20px;
    margin-right: 10px;
}

.answer-mark {
    color: skyblue;
    font-size: 20px;
    margin-right: 10px;
}

.publish {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 입력창과 버튼 */
.publish input,
textarea {
    width: 80%;
    height: 25px;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: #eee;
    border-radius: 10px;
}

.publish input:focus {
    outline: none;
}

.publish button {
    margin-left: 10px;
    margin-top: 10px;
    padding: 13px 30px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: rgb(85, 141, 214);
}

.publish button:hover {
    background: lightblue;
    color: white;
    transition: all 0.5s;
    transform: scale(1.05);
}

/* 보드 컨테이너를 가운데로 정렬 */
.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

/* 상품구매 목록 css */
.product_container {
    flex-direction: row;
    width: 100%;
    margin: 20px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.product {
    width: 25%;
    height: 100%;
    margin-bottom: 4%;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 30px;
}

.product_img_div {
    text-align: center;
}

.product_img {
    max-width: 95%;
    max-height: 100%;
}

.product_title {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 4%;
}

.product_des {
    font-size: 0.8rem;
    margin: 2% 3% 2% 4%;
}

.product_mon {
    font-size: 1rem;
    margin: 2% 3% 1% 4%;
}

.product_link_div {
    text-align: center;
}

.product_link {
    position: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    background: #0B5ED9;
    color: white;
    border-radius: 10px;
    padding: 5px;
}