.fqa-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-list {
    width: 80%;
}

/* 질문 칸 */
.faq-card {
    display: flex;
    margin-top: 10px;
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border: 1px solid black;
    border-radius: 20px;
    flex-direction: column;
}

/* 질문 부분 ex)Q. ~~~ */
.faq-card-title {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    align-items: center;
    cursor: pointer;
}

/* 답변 부분 ex)A. ~~~ */
.faq-card-answer {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
    border: 0px solid rgba(225, 228, 230, .5);
    border-top-width: 1px;
}

.faq-card-none {
    display: none;
}

.question-mark {
    color: rgb(12, 77, 162);
    font-size: 20px;
    margin-right: 10px;
}

.answer-mark {
    color: skyblue;
    font-size: 20px;
    margin-right: 10px;
}